<!DOCTYPE html>
<html>
  <head>
    <title>MathLLC V2</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'pages-bundle' %>
    <%= stylesheet_pack_tag 'pages-bundle' %>
  </head>

  <body>
    <%= render "shared/navigation" %>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
